<div class="widget clearfix">
    <div class="widget clearfix">
        <div class="title"><h3>Construcción</h3></div>
        <a href="#"><img src="{{ asset('demos/03_banner.png') }}" alt="" class="img-thumbnail img-responsive"></a>
    </div><!-- end widget -->
</div><!-- end widget -->

