<div class="widget clearfix">
    <div class="title">
        <h3>Créditos</h3>
    </div>
    <a href="{{ path('intermediation-financing') }}">
        <img data-effect="fade" class="text-center img-thumbnail img-responsive" src="{{ asset('demos/insurances.jpg') }}" alt="">
        <ul class="list">
            <li>Dispondrás del capital de una sola vez, al inicio de la operación.</li>
            <li>Podrás devolver el préstamo hasta en un máximo de 30 años.</li>
            <li>Podrás escoger el tipo de interés que mejor se adapte a ti.</li>
            <li>Si decides anticipar los pagos de tu hipoteca, puedes elegir entre rebajar la cuota mensual o reducir el plazo.</li>
        </ul>
    </a>
</div>
