<div class="widget clearfix">
    <div class="title">
        <h3>Seguros</h3>
    </div>
    <a href="{{ path('intermediation-insurance') }}">
        <img data-effect="fade" class="text-center img-thumbnail img-responsive" src="{{ asset('demos/05_services.jpg') }}" alt="">
        <ul class="list">
            <li>Seguros de Hogar.</li>
            <li>Seguros para Empresas.</li>
            <li>Seguros de Vida.</li>
            <li>Tranquilidad en tu hogar, en tus viajes, con tu familia, con tus ahorros, en tu negocio… En Templo Consulting cuidamos de ti y de los tuyos en todos los ámbitos de tu vida.</li>
        </ul>
    </a>
</div><!-- end of widget -->  