<div class="widget clearfix">
    <div class="title">
        <h3>Electricidad y Gas</h3>
    </div>
    <a href="{{ path('intermediation-supplies') }}">
        <img data-effect="fade" class="text-center img-thumbnail img-responsive" src="{{ asset('demos/supplies.jpg') }}" alt="">
        <h4>PRECIO FIJO SIN SORPRESAS</h4>
        <ul class="list">
            <li>Contrata energía verde certificada.</li>
            <li>11 % de descuento en el suministro de energía.</li>
            <li>Ahórrate hasta 90,95€ al año.</li>
        </ul>
    </a>
</div>
