{% extends 'TemploBundle::base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-3">
        
            <h1><i class="icon-home"></i> {{ 'user_navbar.dashboard'|trans({}, 'UserBundle')|capitalize }}</h1>
            
            <ul id="large-icons">
                <li>
                    <a href="">
                        <i class="icon-star"></i>
                        <br><br>
                        {{ 'user_navbar.starred_ads'|trans({}, 'UserBundle')|upper }} (10)
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-book"></i>
                        <br><br>
                        {{ 'user_navbar.ads'|trans({}, 'UserBundle')|upper }} (10)
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-file-alt"></i>
                        <br><br>
                        {{ 'user_navbar.create_ad'|trans({}, 'UserBundle')|upper }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
