{% extends 'TemploBundle::base.html.twig' %}

{% block main %}
<div id="setting" class="row">
     <div role="navigation" id="sidebar" class="col-sm-3">
          <div class="well">
            <ul class="nav nav-pills nav-stacked">             
              <li class="active"><a href="#">Datos Generales</a></li>
              <li><a href="#">Privacidad</a></li>             
            </ul>
          </div><!--/.well -->
        </div>  
    <div class="col-sm-9">
        
    </div>
    
</div>    
{% endblock %}
