/* import bootstrap mixins */
@import "../../../../../../web/assets/bootstrap/less/mixins.less";

div#dashboard{
    margin-top: 20px;
    ul#large-icons {
        overflow:   hidden;
        margin-top: 80px;

        li {
            float:          left;
            border:     1px solid #CCC;
            .border-top-radius(3px);
            .border-bottom-radius(3px);
            background:     #F1F1F1;
            margin-left: 50px;


            a {
                width:          300px;
                height:         180px;
                display:        inline-block;
                padding:        30px;
                padding-top:    40px;

                text-align: center;
                font-size:      20px;
                line-height:    22px;
                color:          #888;

                &:hover {
                    text-decoration:    none;
                    color:              #333;
                }

                i { font-size:34px; }
            }
        }
    }
}
