        <footer class="footer1">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 first clearfix">
                   		<div class="widget clearfix">
                        	<div class="title"><h3>Enlaces</h3><hr></div>
                            <ul class="list">
                            	<li><a title="" href="support.php">Soporte</a></li>
                            	<li><a title="" href="contact.php">Contactanos</a></li>
                            	<li><a title="" href="about.php">Información Empresa</a></li>
                            	<li><a title="" href="normsuse.php">Normas de Uso</a></li>
                            	<li><a title="" href="copyrights.php">Copyrights</a></li>
                            	<li><a title="" href="workus.php">Únete a Nosotros</a></li>
                            </ul>
                        </div>
                    </div><!-- end col-lg-3 -->
                	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix">
                   		<div class="widget clearfix">
                        	<div class="title"><h3><i class="fa fa-home"></i>Sobre Templo Consulting</h3><hr></div>
                            	<p>Venta y alquiler de activos mobiliarios. Diseño de interiores. Coordinación de seguridad. Licencia de actividad. Certificado energético. Seguros. Cambio de suministros.</p>
                            <a href="#" class="btn btn-primary btn-sm">Más Información</a>
                        </div>
                    </div><!-- end col-lg-3 -->
                	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xs-12 clearfix">
                   		<div class="widget clearfix">
                        	<div class="title"><h3>Canal Twitter</h3><hr></div>
                            <ul class="tweet">
                            	<li><a title="" href="#">@temploconsulting</a> El suelo urbanizable actual cubre la demanda de viviendas para 30 años.
                                <small><a href="#">Hace 12 minutos</a></small>
                                </li>
                            </ul>
                        </div>
                    </div><!-- end col-lg-3 -->
                	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 last clearfix">
                   		<div class="widget clearfix">
                        	<div class="title"><h3><i class="fa fa-envelope-o"></i>Últimas Noticias</h3><hr></div>
                            <p>Puede recibir de manera automática, las novedades sobre el mundo inmobiliario, inversiones y novedades que acontecen en el sector.</p>
                              <form class="form-inline" role="form">
                                <div class="form-group">
                                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Escriba su email">
                                </div>
                                <button type="submit" class="btn btn-primary">SUBSCRIBETE</button>
                              </form>
                        </div>
                    </div><!-- end col-lg-4 -->
                </div><!-- row -->
            </div><!-- container -->
        </footer><!-- footer1 -->
        
        <section class="copyright">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-6 col-sm-6 col-md-6">
                        <p><small>Templo Consulting SL. Copyright 2013</small></p>
                    </div>
                	<div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="social clearfix pull-right">
                            <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Twitter" title="Twitter Templo Consulting" href="http://twitter.com/templo_cons"><i class="fa fa-twitter"></i></a></span>
                            <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook" title="Facebook Templo Consulting" href="http://www.facebook.com/temploconsulting"><i class="fa fa-facebook"></i></a></span>
                            <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Google Plus" title="Google Plus Templo Consulting" href="https://plus.google.com/102908365515054598982?rel=author"><i class="fa fa-google-plus"></i></a></span>
                            <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Linkedin" title="Linkedin Templo Consulting" href="http://www.linkedin.com/company/3321721?trk=tyah"><i class="fa fa-linkedin"></i></a></span>
                            <span><a data-placement="bottom" data-toggle="tooltip" data-original-title="Blog" title="Blog Templo Consulting" href="http://templo-consulting.blogspot.com.es/"><i class="fa fa-book"></i></a></span>
                        </div><!-- end social -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end copyright -->
