<li>	
	<div class="desc">
		<div class="ps-desc">
			<h3><a href="#">Casa moderna con encanto.</a></h3>
			<p>Chalet de 400m² con 5 dormitorios (3 con baño completo), chimenea, persianas eléctricas, parcela de 600m² <br><a href="#">Más Información</a></p>
			<span class="type">Unifamiliar</span>
			<span class="price">€ 550.000</span>
			<a href="#" class="status">En Venta</a>
		</div>
	</div>
	<a href="#"><img src="{{ asset('uploads/images/property/1_slider.jpg') }}" alt=""></a>
									
</li>