<div class="boxes">
    <div class="boxes_img ImageWrapper">
        <a href="single-property.html">
            <img class="img-responsive" src="{{ asset('uploads/images/property/1_home.jpg') }}" alt="">
            <div class="PStyleNe"></div>
        </a>
        <div class="box_type">€ 85.000</div>
    </div>
    <h2 class="title"><a href="ventachantada.php">Calle Chantada. Madrid</a></h2>
    <div class="boxed_mini_details clearfix">
        <span class="area first"><strong>Garaje</strong><i class="icon-garage"></i> 1</span>
        <span class="bedrooms"><strong>Hab.</strong><i class="icon-bed"></i> 3</span>
        <span class="status last"><strong>Baños</strong><i class="icon-bath"></i> 1</span>
    </div>
</div><!-- end boxes -->
