{% extends 'TemploBundle::base.html.twig' %}



{% block main %}
<div id="advertisement-create-links" class="row">
    <h1><i class="fa fa-thumb-tack"></i> {{ 'advertisement-create-links.title'|trans|capitalize }}</h1>
    <div class="col-md-3">
        <div class="create-link">
            <a href="{{ path('user_new_office') }}">
                <img src="{{ asset('assets/img/home_32.png') }}">
                <br><br>
                {{ 'advertisement-create-links.office'|trans|capitalize }}
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="create-link">
            <a href="">
                <i class="fa fa-book"></i>
                <br><br>
                AAAAAAA
            </a>
        </div>
    </div>    

    <div class="col-md-3">
        <div class="create-link">
            <a href="">
                <i class="fa fa-star"></i>
                <br><br>
                AAAAAAA
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="create-link">
            <a href="">
                <i class="fa fa-star"></i>
                <br><br>
                AAAAAAA
            </a>
        </div>
    </div>



</div>

{% endblock %}
