{% extends 'TemploBundle::services-perfil.html.twig' %}

{% block left_region %} 
{% endblock %}
    
{% block right_region %}
    {% include 'TemploBundle:Static/'~app.request.locale~'/widget:credit.html.twig'%} 
{% endblock %}
{% block center_region %}
         <p>Templo Consulting es una empresa especializada en la gestión y desarrollo de las transacciones inmobiliarias, en el área residencial, que ofrece un servicio de asesoramiento integral, personalizado y transparente, garantizando las soluciones de los problemas y conflictos que se presenten.</p>
         <p>En una coyuntura económica como la actual, y dentro de un sector donde se producen importantes transacciones económicas, la confianza, es un valor tan importante como escaso y para generarla se necesita profesionalidad y transparencia.</p>
         <img class="img-thumbnail" src="{{ asset('demos/01_enterprise.jpg') }}" alt=""><br><br>
         <p>En una coyuntura económica como la actual, y dentro de un sector donde se producen importantes transacciones económicas, la confianza, es un valor tan importante como escaso y para generarla se necesita profesionalidad y transparencia.</p>
         
{% endblock %}