{% extends "TemploBundle::base.html.twig" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1>Request submitted</h1>

                <br><br>

                <p>
                    An email has been sent to you email account.
                </p>

                <p>
                    It contains a link you must click to reset your password.
                </p>

            </div>
        </div>
    </div>

{% endblock %}