{% extends "TemploBundle::base.html.twig" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Request already sent</h1>

                <br><br>

                <p>
                    <span class="glyphicon glyphicon-exclamation-sign"></span> A requested to reset your password has already been requested within the last 24 hours.
                </p>

                <p>
                    Please check your email account.
                </p>

            </div>
        </div>
    </div>
    
{% endblock %}