{% extends "TemploBundle::base.html.twig" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'registration.confirmed.page_title'|trans({}, 'FOSUserBundle') }}</h1>
                <br><br>

                <p>
                    {% autoescape 'html' %}
                        {{ 'registration.confirmed.message'|trans({'%username%': user.username}, 'FOSUserBundle')|raw }}
                    {% endautoescape %}
                </p>

            </div>
        </div>
    </div>
    
{% endblock %}